<div class="container-fluid">
  <h1 class="ls-no-margin-left ls-no-margin-right ls-title-intro ls-ico-panel-pabx">Chamados</h1>
  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3 ls-ico-plus">Edição de Chamado</h2>
    </header>
    <%= render 'form', service_desk: @service_desk %>
  </div>
</div>