<div class="container-fluid">
  <h2 class="ls-title-intro ls-ico-user">OLÁ <%= @resource.email %>!</h2>

<p>Alguém requisitou um link para alterar sua senha. Se foi você, clique no link que segue:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você, por favor, ignore este email.</p>
<p>Sua senha não poderá ser alterada sem que você clique no link e altere.</p>
</div>